:root {
    --page-width: 800px;
}

body {
    font-family: monospace;
}

header, main, footer {
    max-width: var(--page-width);
    margin: auto;
}

header {
    overflow: auto;
}

header nav {
    float: left;
    font-size: 20px;
    color: #aaa;
}

header nav:last-child {
    float: right;
}

header nav a {
    color: black;
    text-decoration: none;
}

header nav a:hover {
    background: yellow;
}

main {
}

footer {
}

main h1 {
    text-align: center;
    font-size: 26px;
}

#board-item-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

#board-item-table td {
    padding: 5px 10px;
    background: #eee;
    border-bottom: 1px solid #ccc;
}

#board-item-table tr:last-child td {
    border-bottom: 0;
}

#boards-table {
    width: 100%;
    border-collapse: collapse;
}

#boards-table td {
    width: calc(50% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
}