:root {
    --page-width: 800px;
}

body {
    margin: 0;
    font-family: monospace;
}

header, footer {
    max-width: var(--page-width);
    margin: auto;
}

header {
    padding: 10px 0;
    overflow: auto;
}

header nav {
    float: left;
    font-size: 20px;
    color: #aaa;
}

header nav:last-child {
    float: right;
}

header nav a {
    color: black;
    text-decoration: none;
}

header nav a:hover {
    background: yellow;
}

header nav a:active {
    background: #95f968;
}

main {
    background: #f4f4f4;
    padding: 20px 0;
}

main {
    width: 100%;
}

#main-inner {
    margin: auto;
    width: var(--page-width);
}

footer {
}

main h1 {
    text-align: center;
    font-size: 26px;
}

form#login,
form#signup {
    width: 300px;
    text-align: right;
}

form#login  input[type=text],
form#login  input[type=password],
form#signup input[type=text],
form#signup input[type=password] {
    width: calc(100% - 14px);
    outline: none;
    padding: 5px;
    border: 2px solid #ccc;
}

form#login  input[type=text]:focus,
form#login  input[type=password]:focus,
form#signup input[type=text]:focus,
form#signup input[type=password]:focus {
    border: 2px solid red;
}

form#login  input[type=submit],
form#signup input[type=submit] {
    width: 50%;
}