<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8" />
        
        <meta 
            name="viewport" 
            content="width=device-width, initial-scale=1.0"
        />

        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='style.css') }}"
        />

        <link
            rel="icon"
            type="image/svg+xml"
            href="{{ url_for('static', filename='icon.svg') }}"
        />

        <title>
            Forum - {% block title %}{% endblock %}
        </title>

        <style>
{% block style %}
            main {
                width: 100%;
            }

            #main-inner {
                margin: auto;
                width: var(--page-width);
            }
{% endblock %}
        </style>
    </head>
    <body>
        <header>
            <br />
{% block navigator %}{% endblock %}
            
{% if user is defined and user.is_authenticated %}
            <nav>
                <a href="/users/{{user.username}}">{{user.username}}</a>
                |
                <a href="/logout">Esci</a>
            </nav>
{% else %}
            <nav>
                <a href="/login">Entra</a>
                |
                <a href="/signup">Iscriviti</a>
            </nav>
{% endif %}
        </header>
        <main>
            <div id="main-inner">
{% block main %}{% endblock %}
            </div>
        </main>
        <br />
        <footer>
            Creato da cozis ed haru uwu
        </footer>
    </body>
</html>
