<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='style.css') }}"
        />

        <link
            rel="icon"
            type="image/svg+xml"
            href="{{ url_for('static', filename='icon.svg') }}"
        />

        <title>Forum</title>
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>
