{% extends "base.html" %}

{% block title %}
    Categorie
{% endblock %}

{% block style %}
{{super()}}

main table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

main table td {
    width: calc(50% - 20px);
    border: 1px solid #ccc;
    padding: 10px;
}
{% endblock %}

{% block navigator %}
<nav>
    <a href="/boards"><b>Categorie</b></a>
</nav>
{% endblock %}

{% block main %}
{% if boards|length > 1 %}
<table>
{% for batch in boards|batch(2) %}
    <tr>
{% for board in batch %}
        <td><a href="/boards/{{board.name}}">{{board.full_name}}</a></td>
{% endfor %}
    </tr>
{% endfor %}
</table>
{% else %}
<center>
    Non c'è nessuna categoria!!
    <pre>(╯°□°）╯︵ ┻━┻</pre>
</center>
{% endif %}
{% endblock %}