{% extends "base.html" %}

{% block title %}
    /{{ board.name }}/
{% endblock %}

{% block navigator %}
<nav>
    <a href="/boards">Categorie</a>/<a href=""><b>{{ board.full_name }}</b></a>
</nav>
{% endblock %}

{% block main %}
{% if posts|length > 1 %}

<table id="board-item-table">
{% for post in posts %}
    <tr>
        <td>
            {{post.title}}
        </td>
    </tr>
{% endfor %}
</table>
{% else %}
<center>
    Ancora non ci sono post!
    <pre>(╯°□°）╯︵ ┻━┻</pre>
</center>
{% endif %}
{% endblock %}
