{% extends "base.html" %}

{% block title %}
    Categorie
{% endblock %}

{% block style %}
{{super()}}

main table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

main table td {
    width: calc(50% - 20px);
    border: 1px solid #90abbb;
    padding: 10px;
}

main table a {
    font-size: 18px;
}

main table p {
    margin: 10px 0 0 0;
}

.no-desc-text {
    color: #777;
}
{% endblock %}

{% block lnav %}
    <a href="/boards"><b>Categorie</b></a>
{% endblock %}

{% block main %}
{% if boards|length > 1 %}
<table>
{% for batch in boards|batch(2) %}
    <tr>
{% for board in batch %}
        <td>
            <a href="/boards/{{board.name}}">{{board.full_name}}</a>
{% if board.description is none %}
            <p class="no-desc-text">(No description)</p>
{% else %}
            <p>{{board.description}}</p>
{% endif %}
        </td>
{% endfor %}
    </tr>
{% endfor %}
</table>
{% else %}
<center>
    Non c'è nessuna categoria!!
    <pre>(╯°□°）╯︵ ┻━┻</pre>
</center>
{% endif %}
{% endblock %}