{% extends "base.html" %}

{% block title %}
    {{ board.full_name }}
{% endblock %}

{% block style %}
{{super()}}

main table {

    width: 100%;
    border-collapse: collapse;
    background: white;
}

main table td {
    padding: 10px;
    font-size: 16px;
    border-bottom: 3px solid #f4f4f4;
}

main table tr:last-child td {
    border-bottom: 0;
}

main table td .title {
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

main table td .url {
    font-size: 14px;
    color: #999;
}

main table td .url-wrapper {
    margin-top: 10px;
}

pre {
    margin: 0;
}
{% endblock %}

{% block lnav %}
    <a href="/boards">Categorie</a>
    /
    <a href="/boards/{{ board.name }}"><b>{{ board.full_name }}</b></a>
{% endblock %}

{% block rnav %}
{% if user.is_authenticated %}
    <a href="/boards/{{ board.name }}/new">Nuovo</a>
    |
{% endif %}
    {{super()}}
{% endblock %}

{% block main %}
{% if posts|length > 0 %}

<table>
    {% for post in posts %}
    <tr>
        <td>
        <a class="title" href="/boards/{{board.name}}/posts/{{post.hex_id}}">{{post.title}}</a>
        {% if post.is_link %}
        <br />
        <div class="url-wrapper">
            <a class="url" target="_blank" href="{{post.body}}">{{post.body}}</a>
        </div>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<center>
    Ancora non ci sono post!
    <br />
    <br />
    <pre>(╯°□°）╯︵ ┻━┻</pre>
</center>
{% endif %}
{% endblock %}
