{% extends "base.html" %}

{% block title %}
    Entra
{% endblock %}

{% block navigator %}
<nav>
    <a href="boards.html"><b>Categorie</b></a>
</nav>
{% endblock %}

{% block main %}
<h1>Entra nel forum!</h1>
<form action="/login" method="POST">
    <input 
        type="text" 
        name="username" 
        placeholder="Username" 
    />
    <input 
        type="password" 
        name="password" 
        placeholder="Password" 
    />
    <input type="submit" value="Entra" />
    <p>oppure <a href="/signup">registrati</a></p>
</form>
{% endblock %}