{% extends "base.html" %}

{% block title %}
    Entra
{% endblock %}

{% block lnav %}
    <a href="/boards"><b>Categorie</b></a>
{% endblock %}

{% block main %}
<h1>Entra nel forum!</h1>
<center>

{% with messages = get_flashed_messages() %}
{% if messages %}
        <ul class="flashes">
{% for message in messages %}
            <li>{{ message }}</li>
{% endfor %}
        </ul>
{% endif %}
{% endwith %}
    
    <form action="/login" method="POST">
        <input 
            type="text" 
            name="username" 
            placeholder="Username" 
        />
        <br />
        <br />
        <input 
            type="password" 
            name="password" 
            placeholder="Password" 
        />
        <br />
        <br />
        <input type="submit" value="Entra" />
        <p>..oppure <a href="/signup">registrati</a></p>
    </form>
</center>
{% endblock %}