{% extends "base.html" %}

{% block title %}Entra{% endblock %}

{% block lnav %}<a href="/boards">Categorie</a>{% endblock %}

{% block main %}
<center>
    <h2>Entra!</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    
    <form id="login" action="/login" method="POST">
        <input 
            type="text" 
            name="username" 
            placeholder="Username" 
        />
        <br />
        <br />
        <input 
            type="password" 
            name="password" 
            placeholder="Password" 
        />
        <br />
        <br />
        <input type="submit" value="Entra" />
    </form>
</center>
{% endblock %}