{% extends "base.html" %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block lnav %}
    <a href="/boards">Categorie</a>
    /
    <a href="/boards/{{ board.name }}">{{ board.full_name }}</a>
    /
    <a href="/boards/{{board.name}}/posts/{{post.hex_id}}"><b>{{post.hex_id}}</b></a>
{% endblock %}

{% block style %}
main h2 {
    margin: 0;
}
{% endblock %}

{% block main %}
{% if post.is_link %}
<h2><a href="{{post.body}}" target="_blank">{{post.title}}</a></h2>
{% else %}
<h2>{{ post.title }}</h2>
<span> {{ post.body }} </span>
{% endif %}
{% endblock %}
