{% extends "base.html" %}

{% block title %}Registrati{% endblock %}

{% block lnav %}
    <a href="/boards">Categorie</a>
{% endblock %}

{% block main %}
<center>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h2>Registrati!</h2>

    <form id="signup" action="/signup" method="POST">
        <input 
            type="text" 
            name="username" 
            placeholder="Username" 
        />
        <br />
        <br />
        <input 
            type="password" 
            name="password" 
            placeholder="Password" 
        />
        <br />
        <br />
        <input 
            type="password" 
            name="confirm-password" 
            placeholder="Conferma password" 
        />
        <br />
        <br />
        <input type="submit" value="Registrati" />
    </form>
</center>
{% endblock %}