{% extends "base.html" %}

{% block title %}
    {{ user.username }}
{% endblock %}

{% block style %}
{{super()}}

pre {
    color: #777;
    margin: 0;
    line-height: 160%;
}

pre span {
    color: #000;
}
{% endblock %}

{% block navigator %}
<nav>
    <a href="/boards">Categorie</a>
</nav>
{% endblock %}

{% block main %}
<pre>
    {
        <span>Username</span>: <span>{{user.username}}</span>,
          <span>E-Mail</span>: <span>{{user.email}}</span>,
         <span>Website</span>: <span>{{user.website}}</span>
    }
</pre>
{% endblock %}
